<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Biryani|Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
