<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">

<!-- Media Screens -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- Bootstrap -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Biryani|Permanent+Marker&display=swap" rel="stylesheet">

</head>

<body>
